<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  <body>
    <% if(download) {%>
    <form id="download" action="/main/downloadcsv" method="get">
      <input type="hidden" name="fileName" value=<%= download %> />
      <input
        type="submit"
        name="submit"
        value="Télécharger
      Fichier"
      />
    </form>
    <%}%> <% if(csv.length!==0){ %>
    <table class="tableau">
      <tr>
        <th>IdFoyer</th>
        <th>idIndividu</th>
        <th>Naissance Fichier</th>
        <th>Entrée Fichier</th>
      </tr>
      <% for(let individu of csv){ %>
      <tr>
        <td><%= individu.idFoyer %></td>
        <td><%= individu.idIndividu %></td>
        <td><%= individu.dateNaissanceFichier %></td>
        <td><%= individu.dateEntreeFichier?individu.dateEntreeFichier:"" %></td>
      </tr>
      <%}%>
    </table>
    <% } %>
  </body>
</html>
