<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <% if(data.length!==0){ %>
  <table class="tableau">
    <tr>
      <th>IdFoyer</th>
      <th>idIndividu</th>
      <th>Naissance Fichier</th>
      <th>Naissance BDD</th>
      <th>Entrée Fichier</th>
      <th>Entrée BDD</th>
    </tr>
    <% for(let individu of
    data){if(individu.dateNaissanceFichier!=individu.dateNaissanceDB||individu.dateEntreeFichier!=individu.dateEntreeDB){
    %>
    <tr>
      <td><%= individu.idFoyer %></td>
      <td><%= individu.idIndividu %></td>
      <td><%= individu.dateNaissanceFichier %></td>
      <td><%= individu.dateNaissanceDB %></td>
      <td><%= individu.dateEntreeFichier?individu.dateEntreeFichier:"" %></td>
      <td><%= individu.dateEntreeFichier?individu.dateEntreeDB:"" %></td>
    </tr>
    <%}}%>
  </table>
  <% } %>
</html>
